@use "./partials/_header.scss";
@use "./partials/_footer.scss";
@use "./partials/create";
// @import '~bootstrap/scss/bootstrap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul,
menu {
    list-style: none;
}
a {
    color: currentColor;
    text-decoration: none;
}

body {
    background-color: #0c0c0c; /* Nero scuro */
    font-family: "Roboto", sans-serif; /* Carattere moderno */
    color: #ffffff; /* Testo bianco */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1a1a1a; /* Nero medio scuro */
    border: 2px solid #333333; /* Bordo grigio scuro */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Ombra sottile bianca */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character-card {
    background-color: #262626; /* Nero medio */
    border: 2px solid #444444; /* Bordo grigio */
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    width: 100%;

    &:hover {
        transform: scale(1.05);
    }

    p {
        margin: 0;
        padding: 8px;
        font-size: 1.2em;

        &:first-child {
            font-weight: bold;
            font-size: 1.5em;
            color: #ffcc00; /* Giallo acceso */
        }

        &.bio {
            font-style: italic;
            color: #999999; /* Grigio medio */
        }

        &.attribute {
            font-weight: bold;
            color: #66ccff; /* Azzurro acceso */
        }
    }
}

#homepage-btn {
    display: flex;
    gap: 10px;

    form {
        padding: 0;
        width: 60px;
    }
}

.btn-red {
    background-color: red;
    &:hover {
        background-color: darken(red, 30%);
    }
}
